<div class="mx-auto my-5" style="width: 500px;">
  <p class="text-center fw-bold">{{'Labels.Publisher.Create new publisher' | translate }}</p>
  <hr />
  <form class="form" [formGroup]="publisherForm">
    <label for="companyName" class="fw-light m-2">{{'Labels.Publisher.Company name' | translate }}</label>
    <div class="form-group mb-3">
      <input type="text" name="companyName" id="companyName" class="form-control" formControlName="companyName"
        [class.is-invalid]="publisherForm.controls['companyName'].invalid && publisherForm.controls['companyName'].touched" />
      <small
        *ngIf="publisherForm.controls['companyName'].errors?.['required'] && publisherForm.controls['companyName'].touched"
        class="text-danger">{{ 'Labels.Publisher.Errors.Company name is required' | translate }}</small>
    </div>

    <div class="form-group mb-3">
      <label for="homePage" class="fw-light m-2">{{'Labels.Publisher.Home page' | translate }}</label>
      <div class="input-group">
        <span class="input-group-text">http://</span>
        <input type="text" name="homePage" id="homePage" class="form-control" formControlName="homePage"
          [class.is-invalid]="publisherForm.controls['homePage'].invalid && publisherForm.controls['homePage'].touched" />
      </div>
      <small *ngIf="publisherForm.controls['homePage'].invalid && publisherForm.controls['homePage'].touched"
        class="text-danger">{{ 'Labels.Publisher.Errors.Home page is required' | translate }}</small>
    </div>

    <label for="description" class="fw-light m-2">{{'Labels.Publisher.Description' | translate }}</label>
    <div class="form-group mb-3">
      <textarea name="description" id="description" class="form-control" formControlName="description"
        [class.is-invalid]="publisherForm.controls['description'].invalid && publisherForm.controls['description'].touched">
    </textarea>
      <small *ngIf="publisherForm.controls['description'].invalid && publisherForm.controls['description'].touched"
        class="text-danger">{{ 'Labels.Publisher.Errors.Description is required' | translate }}</small>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" (click)="createPublisher()" class="btn btn-success m-3">{{ 'Labels.Submit' | translate}}</button>
    </div>
  </form>
</div>