<div class="mx-auto my-5" style="width: 500px;">
  <p class="text-center fw-bold">{{'Labels.Platform.Edit platform' | translate}}</p>
  <hr />
  <form class="form" [formGroup]="platformForm">
    <label for="companyName" class="fw-light m-2">{{ 'Labels.Platform.Platform name' | translate }}</label>
    <div class="form-group mb-3">
      <input type="text" name="companyName" id="companyName" class="form-control" formControlName = "type" 
      [class.is-invalid]="platformForm.controls['type'].invalid && platformForm.controls['type'].touched"/>
      <small class="text-danger" *ngIf="platformForm.controls['type'].errors?.['required'] && platformForm.controls['type'].touched">
        {{ 'Labels.Platform.Errors.Type is required'|translate}}</small>
    </div>

    <div class="d-flex justify-content-center">
    <button type="submit" (click)="editPlatform()" class="btn btn-success m-3">{{ 'Labels.Submit' | translate}}</button>
  </div>
  </form>
</div>