<div  *ngIf="order.items.length > 0">
<div class="d-flex justify-content-center">
  <table class="table table-hover m-5 w-75">
    <thead>
      <th scope="col">{{'Labels.Game.Name' | translate}}</th>
      <th scope="col">{{'Labels.Game.Price' | translate}}</th>
      <th scope="col">{{'Labels.Game.Discount' | translate}}</th>
      <th scope="col">{{'Labels.Game.Quantity' | translate}}</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items" scope="row">
        <td>{{item.game?.name}}</td>
        <td>{{round(item.price)}}$</td>
        <td>{{item.discount}}%</td>
        <td>
          <button class="btn btn-sm btn-outline-success" (click)="plusOneItem(item.id)">+</button>
          <span class="fw-bold mx-3">{{item.quantity}}</span> 
          <button class="btn btn-sm btn-outline-danger"  (click)="minusOneItem(item.id)">-</button>
        </td>
        <td> <button class="btn btn-sm text-danger" (click)="deleteItem(item.id)"><fa-icon [icon]="faTrash"></fa-icon></button> </td>
      </tr>
      <p class="my-3">{{'Labels.Order.Total amount' | translate }} : {{getTotal()}} $</p>
    </tbody>
    
  </table>
</div>
<div class="d-flex justify-content-center">
  <button class="btn btn-primary mx-3 text-center" (click)="makeOrder()">{{'Labels.Order.Order'|translate}}</button>
</div>

</div>
<h2  *ngIf="order.items.length <= 0" class="fw-light my-5 text-center">{{'Labels.Order.Your basket is empty' | translate}}</h2>