<div class="card mx-auto">
  <div class="card-body">
    <h2 class="card-title text-center">{{'Labels.Auth.Sign In' | translate}}</h2>

    <form [formGroup]="form" (submit)="submit()" novalidate>

      <div class="form-group m-3">
        <label for="emailInput">{{'Labels.Auth.Email' | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
          </div>
          <input type="email" class="form-control" id="emailInput" [formControl]="$any(form).controls['email']"
            [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched">
        </div>
        <small class="form-text text-danger"
          *ngIf="form.getError('required', 'email') && form.get('email')?.touched">{{'Labels.Auth.Errors.Email is required' |
          translate}}</small>
        <small class="form-text text-danger"
          *ngIf="form.getError('email', 'email') && form.get('email')?.touched">{{'Labels.Auth.Errors.Invalid email' | translate
          }}</small>
      </div>

      <div class="form-group m-3">
        <label for="passwordInput">{{'Labels.Auth.Password' | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faLock"></fa-icon>
            </span>
          </div>
          <input type="password" class="form-control" id="passwordInput" [formControl]="$any(form).controls['password']"
            [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched">
        </div>
        <small class="form-text text-danger"
          *ngIf="form.getError('required', 'password') && form.get('password')?.touched">{{'Labels.Auth.Errors.Password is required'
          | translate}}</small>
      </div>

      <div class="d-flex justify-content-between m-3">
        <button type="submit" class="btn btn-primary" type="submit" [disabled]="form.disabled">{{'Labels.Auth.Login' |
          translate}}</button>
        <button type="button" class="btn btn-link" [routerLink]="['/', 'auth', 'sign-up']">
          {{"Labels.Auth.Don't have an account?" | translate}}</button>
      </div>

    </form>
  </div>
</div>

<div class="d-flex justify-content-center my-3">
  <button type="button" class="btn btn-outline-primary" [routerLink]="['/', 'games']">{{"Labels.Auth.Sign in later, enter
    Game Store" | translate}}</button>
</div>